In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("JIDOKA-QG-Pinon-Duro02-09.csv")
df.dtypes

Record                   int64
Date                    object
LOC Time                object
Numero De Articulo       int64
 Estado Camara           int64
 Resultado Estampado     int64
 Resulado Control        int64
 Pieza en Chronos        int64
dtype: object

In [34]:
df.head(2)

,Record,Date,LOC Time,Numero De Articulo,Estado Camara,Resultado Estampado,Resulado Control,Pieza en Chronos
0,1,09/02/2024,14:25:55,2445731,1,0,0,0
1,2,09/02/2024,14:27:09,2445731,1,0,0,0

In [39]:
Record = []
Date = []
LOC_Time = []
Articulo = []
EstadoCamara = []
ResultadoEstampado = []
ResultadoControl = []
PiezaChronos = []

for i in range(len(df)):
    if df[" Pieza en Chronos"][i] == 1:
        Record.append(1)
        Date.append(df.iloc[i]["Date"])
        LOC_Time.append(df.iloc[i]["LOC Time"])
        Articulo.append(df.iloc[i]["Numero De Articulo"])
        EstadoCamara.append(df.iloc[i][" Estado Camara"])
        ResultadoEstampado.append(df.iloc[i-1][" Resulado Control"])
        ResultadoControl.append(df.iloc[i][" Resultado Estampado"])
        PiezaChronos.append(1)

data = {
    'Record': Record,
    'Date': Date,
    'LOC Time': LOC_Time,
    'Articulo': Articulo,
    ' Estado Camara': EstadoCamara,
    ' Resultado Estampado': ResultadoEstampado,
    ' Resulado Control': ResultadoControl,
    ' Pieza en Chronos': PiezaChronos
}

df_new = pd.DataFrame(data)
df_new[5::5].head()

,Record,Date,LOC Time,Articulo,Estado Camara,Resultado Estampado,Resulado Control,Pieza en Chronos
5,1,09/02/2024,14:41:43,2445731,1,1,1,1
10,1,09/02/2024,15:53:13,2445731,0,0,1,1
15,1,09/02/2024,16:08:00,2445731,1,1,0,1
20,1,09/02/2024,16:44:45,2445731,1,0,1,1
25,1,09/02/2024,17:10:54,2445731,1,0,0,1

In [36]:
df_new.to_csv("Jidoka_Pinon Agosto limpio.csv",index=False)